<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-5">
            <h1 class="text-center">Admin Account</h1>
            <form #adminAccountForm="ngForm" (submit)="adminAccountSubmit()">
                <div class="form-group">
                    <label>Admin-name</label>
                    <input type="text" name="adminName" autocomplete="off" class="form-control" #adminName="ngModel" [ngModel]="adminServ.accountData?.adminName" required>
                    <p class="text-danger" *ngIf="adminName.touched && !adminName.valid">Please enter your admin-name!</p>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="adminEmail" autocomplete="off" class="form-control" #adminEmail="ngModel" [ngModel]="adminServ.accountData?.adminEmail" email required>
                    <p class="text-danger" *ngIf="adminEmail.touched && !adminEmail.valid">Please enter your email!</p>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="adminPassword" autocomplete="off" class="form-control" #adminPassword="ngModel" [ngModel]="adminServ.accountData?.adminPassword" required>
                    <p class="text-danger" *ngIf="adminPassword.touched && !adminPassword.valid">Please enter your password!</p>
                </div>
                <input type="submit" value="Change" class="btn btn-info" [disabled]="!adminAccountForm.valid">
            </form>
        </div>
    </div>
</div>